*{
    border: 0;
    margin: 0;
    padding: 0;
}

/************************* CSS GENERAL ************************************/

@font-face {
    font-family: mifuente;
    src: url(/fuentes/MonospaceTypewriter.ttf.ttf),
         url(/fuentes/monospacetypewriter.woff),
         url(/fuentes/monospacetypewriter.woff2);
}
h1{
    font-family: "Orbitron", system-ui;
    font-weight: 800;
    font-style: normal;
}
h1 a{
    text-decoration: none;
    color: antiquewhite;
}
h2{
    color: rgb(38, 2, 72);
}
h2,#texto p{
    font-family: mifuente !important;
    font-weight: 600;
}
body{
    background-color: blueviolet;
}
header{
    background-color: rgb(90, 19, 157);
    text-align: center;
    font-size: x-large;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
#lista-menu{
    list-style-type: none;
}
#lista-menu li a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
#lista-menu li p{
    color: white;
}
#lista-menu li:nth-child(even){
    background-color: rgb(73, 23, 119);
}

/* PÁGINA INICIO */
#agregado section{
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 0.12rem solid white;
}
#agregado section ul{
    list-style-type: none;
    color: white;
    font-style: italic;
    font-weight: bold;
}
#agregado a{
    background-color: blueviolet;
    border-radius: 5%;
    border: 0.12rem solid white;
    text-decoration: none;
    color: white;
}
#bio img{
    border-radius: 12%;
    margin: auto;
}
#bio figure{
    float: left;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

/* PAGINA CONCIERTOS */
#tabla1{
    margin: auto;
    border-collapse: collapse;
    font-family: mifuente !important;
    font-weight: normal;
    font-style: normal;
}
.ENTRADAS a{
    text-decoration: none;
    background-color: burlywood;
    border-radius: 10%;
    border: solid brown;
    color: brown;
    font-size: smaller;
    font-weight: bold;
    font-style: italic;
}
.ubic{
    font-style: italic;
    font-weight: bold;
    font-size: smaller;
}
.fecha{
    font-style: italic;
    font-weight: bold;
    font-size: smaller;
}

/* PAGINA CANCIONES */
#lista-canciones li{
background-color: violet;
border: 0.25rem solid rgb(45, 1, 86);
text-align: center;
font-size: medium;
font-family: "Orbitron", system-ui;
font-weight: 600;
font-style: normal;
margin: 1rem;
padding: 1rem;
}
#lista-canciones img{
    width: auto;
}
#lista-canciones ol{
    list-style-position:initial;
}
#lista-canciones li:nth-child(even){
    background-color: rgb(73, 23, 119);
    color: white;
}

/* PAGINA VIDEOCLIPS */
iframe,video{
    width: auto;
}

footer p{
    font-family: "Orbitron", system-ui;
    font-weight: 800;
    font-style: normal;
    color: white;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(73, 23, 119);
}
footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/************************* CSS MOVILES ************************************/
@media all and (max-width:1024px){
    header{
        padding: 1rem;
        margin-bottom: 0.8rem;
    }
    #abrir,#cerrar{
        width: 25px;
        margin-left: 0.5rem;
    }
    #cerrar{
        display: none;
    }
    #menu #lista-menu{
        overflow: hidden;
        height: 0;
        transition: all 1s ease;
    }
    #menu:target #abrir{
        display: none;
    }
    #menu:target #cerrar{
        display: block;
    }
    #menu:target #lista-menu{
        height: 26vh;
        transition: all 1s ease;
    }
    #lista-menu li{
        margin: 0.5rem;
        background-color: blueviolet;
        font-family: "Orbitron", system-ui;
        font-weight: 800;
        font-style: normal;
        padding: 0.3rem;
    }
    #lista-menu li p{
        padding-left: 0.5rem;
    }
    #lista-menu li:nth-child(odd){
        padding: 0.3rem 0 0.3rem 0;
    }
    #lista-menu img{
        width: 20px;
    }

    /* PÁGINA INICIO */
    #agregado img{
        width: 70px;
        border-radius: 10%;
        padding: 1rem;
    }
    #agregado section{
        margin: 1rem;
    }
    #agregado section ul{
        margin-top: 0.7rem;
    }
    #agregado section ul li{
        margin-bottom: 0.5rem;
    }
    #agregado a{
        font-size: 0.8rem;
        padding: 0.15rem;
    }
    h2{
        margin-left: 1rem;
    }
    #bio img{
        width: 150px;
    }
    #bio figure{
        margin: 1rem;
    }
    #texto p{
        padding: 0.5rem;
    }
    #inicio{
        margin-left: 0.2rem;
    }

    /* PAGINA CONCIERTOS */
    #conciertos h2{
        margin-top: 0.5rem;
        color: white;
    }
    thead{
        display: none;
    }
    #tabla1 tr{
        display: flex;
        flex-direction: column;
        border: 0.5rem solid black;
        margin-bottom: 2rem;
        background-color: rgb(119, 32, 201);
    }
    #tabla1{
        margin: 1rem;
    }
    td:nth-of-type(1):before {
        content: "FECHA";
    }
    td:nth-of-type(2):before {
        content: "UBICACIÓN";
    }
    td:nth-of-type(3):before {
        content: "ENTRADAS";
    }
    #tabla1 td::before{
        background-color: rgb(73, 23, 119);
        color: white;
        font-size: 13px;
        font-family: mifuente !important;
        font-style: normal !important;
        font-weight: 400;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin-right: 5rem;
        border: 0.12rem solid black;
    }
    .ubic{
        padding: 0.8rem 4rem 1rem 4rem;
        background-color: rgb(119, 32, 201);
        color: white;
    }
    .ENTRADAS{
       background-color: #BE23CF;
       padding: 0.3rem 0 0.4rem 0;
    }
    .fecha{
        background-color: #BE23CF;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-bottom:0.3rem;
    }
    .ENTRADAS a{
        padding: 0.3rem;
        font-size: 10px;
    }

    /* PAGINA CANCIONES */
    #lista-canciones{
        margin-left: 3rem;
    }
    #lista-canciones img{
        width: 150px;
    }

    /* PAGINA VIDEOCLIPS */
    iframe,video{
        width: 95%;
        border: 0.5rem double rgb(38, 2, 72);
    }
    .videoclips{
        margin: 1rem;
        margin-left: 1rem;
    }

    footer{
        font-size: smaller;
        font-weight: bold !important;
        padding: 0.25rem;
    }
    footer section{
        font-family: mifuente !important;
    }
    footer section img{
        width: 15px;
        padding: 0 0.25rem 0 0.25rem;
    }
    
}
/************************* CSS ESCRITORIO ************************************/
@media all and (min-width:1024px){
    header{
        padding: 3rem;
        margin-bottom: 1rem;
    }
    h1{
        font-size: 150px;
    }
    #abrir,#cerrar{
        display: none;
    }
    #contenedor-contenido{
        display: flex;
        flex-direction: row;
    }
    #menu{
        width: 20%;
    }
    #lista-menu{
        width: 80%;
        margin: auto;
        border: 0.25rem solid black;
    }
    #lista-menu li{
        padding: 0.25rem;
    }
    #lista-menu li a{
        padding: 1rem 3rem 1rem 3rem;
        border-radius: 10%;
    }
    #lista-menu li p{
        margin-top: 0.5rem;
    }
    #lista-menu li a:hover{
        background-color: gainsboro;
    }
    #inicio{
        margin-right: 1.2rem;
    }
    #lista-menu img{
        width: 30px;
        margin: auto;
        margin-right: 0.6rem;
        margin-bottom: 0.3rem;
    }

    /* PAGINA INICIO */
    #info{
        width: 80%;
    }
    #agregado{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1rem;
    }
    #agregado section{
       padding: 1rem 1.5rem 1rem 1.5rem;
    }
    #agregado img{
        width: 100px;
        border-radius: 15%;
        margin-right: 2rem;
    }
    #agregado a{
        font-size: 0.8rem;
        padding: 0.3rem;
        margin-top: 0.5rem;
    }
    h2{
        margin: 1rem 0 1rem 0.5rem;
    }
    #bio img{
        width: 200px;
        margin-top: 50px;
    }
    #bio figure{
        margin-right: 1rem;
        color: white;
    }
    #texto{
        column-count: 3;
        column-width: 33%;
        column-gap: 2rem;
        column-rule: 0.5rem dotted rgb(56, 2, 56);
        margin: 0 1rem 3rem 0;
        color: white;
    }

    /* PAGINA CONCIERTOS */
    #tabla1 tr,#tabla1 td,#tabla1 th{
    border: solid rgb(85, 0, 85);
    text-align: center;
    }
    #tabla1{
        background-color: rgb(198, 140, 253);
        margin: 2rem 0 2rem 10rem;
    }
    #tabla1 th{
        background-color: rgb(85, 0, 85);
        color: white;
        padding: 1rem;
    }
    #tabla1 tr{
        padding: 1rem;
    }
    #tabla1 td{
        padding: 1rem 3rem 1rem 3rem;
    }
    .ubic{
        padding: 0 4rem 0 4rem;
    }
    .ENTRADAS a{
        padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    }

    /* PAGINA CANCIONES */
    #lista-canciones{
        margin-left: 15rem;
    }
    #lista-canciones li{
        padding: 0.5rem 8rem 0.5rem 8rem;
    }
    #lista-canciones img{
        width: 200px;
        margin-bottom: 0.5rem;
        padding-top: 1rem;
    }
    #lista-canciones p{
        margin-bottom: 1rem;
    }

    /* PAGINA VIDEOCLIPS */
    iframe,video{
        width: 70%;
        border: 0.5rem double rgb(38, 2, 72);
    }
    iframe{
        height: 400px;
    }
    .videoclips{
        margin: 2rem 0 0 10rem;
    }

    footer{
        padding: 1rem 0.5rem 0.5rem 1rem;
        font-size: 20px;
    }
    footer p{
        margin-top: 0.1rem;
        margin-right: 0.25rem;
    }
    footer section img{
        width: 30px;
        padding: 0 0.4rem 0.12rem 0.4rem;
    }
}